<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>

        @Styles.Render("~/Content/normalize-css", "~/Content/bs-css", "~/Content/site-css")
    </head>

    <body class="container-fluid">
        @RenderBody()
    </body>

    @Scripts.Render("~/bundles/require.js")

    <script type="text/javascript">
        requirejs.config({
            "baseUrl": "@Url.Content("~/Scripts/")",
            "urlArgs": "@BundleConfig.Bust",
            "paths": {
                @if (BundleTable.EnableOptimizations)
                {
                    @:"jquery": ["//code.jquery.com/jquery-2.1.4.min", "jquery-2.1.4.min"],
                    @:"bootstrap": ["//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min", "bootstrap.min"],
                    @:"knockoutjs": ["//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min", "knockout-3.3.0"],
                }
                else
                {
                    @:"jquery": "jquery-2.1.4",
                    @:"bootstrap": "bootstrap",
                    @:"knockoutjs": "knockout-3.3.0",
                }

                "wallet": "VM/wallet",
                "goods-store": "VM/goods-store",
                "wallet-plugin": "VM/wallet-plugin",
                "vending-machine-plugin": "VM/vending-machine-plugin",
                "simulator-app": "VM/simulator-app",
                "purcashing-result": "VM/purcashing-result",

                @if (BundleTable.EnableOptimizations)
                {
                    @:"vm-simulator-scripts-bundle": "@Url.Content("~/bundles/vm-simulator-scripts")"
                }
            },

            @if (BundleTable.EnableOptimizations) {
                @:"bundles": {
                @:    "vm-simulator-scripts-bundle": ["wallet", "goods-store", "wallet-plugin", "vending-machine-plugin", "simulator-app", "purcashing-result"]
                @:},
            }

            "shim": {
                "bootstrap": { "deps": ["jquery"] },
                "knockoutjs": { "deps": ["jquery"], "exports": "ko" }
            }
        });
    </script>
  
    
    @RenderSection("ViewStartupScripts", required: false)
</html>
